@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #203a3b, #39955c);
}

.calculator
{
    border: 1px solid #b3bc68;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(153, 174, 83, 0.5);

}

input
{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #faf8f8;
}

input::placeholder
{
    color: #edebeb;
}

button
{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #fefcfc;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(253, 253, 253, 0.1);
    cursor: pointer;
}

.equalBtn
{
    background-color: #ef580c;
}

.operator
{
    color: #6dee0a;
}